{% extends 'base.html'%}
{% load static %}
{% block title %}- Login {% endblock title %}

{% block content %}
<div>
    {% if messages %}
    <h2>{{messages.message}}</h2>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>

    </form>
</div>
{% endblock content %}