<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/CSS/base.css' %}">
    <title>Assignment{% block title %} {% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <button><a href="{% url 'home' %}">Regular View</a></button>
            <button><a href="">API View</a></button>
        </nav>
    </header>
    <br>
    {% block content %}
    {% endblock content %}
    <script src="{% static '../static/JS/base.js' %}"></script>
</body>
</html>